#login-container {
    display: flex;
    flex-direction: column;
}

#login-form {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    width: 300px;
    z-index: 10;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login-logo {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    height: auto;
}