.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #0077ff;
}

.sidebar-item {
  margin: 0px;
  color: white;
}

.sidebar-item-selected {
  margin: 0px;
  color: white;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #005fcc;
}

.sidebar-icon {
  margin: 10px;
}

#sidebar-logo {
  width: 250px;
  height: auto;
  margin-left: 25px;
  margin-top: -50px;
}

#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#sidebar-footer {
  position: absolute;
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 20px;
}
