#tsparticles {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 0;
}

#basic-logo {
  width: 300px;
  height: auto;
  margin-left: 10px;
}

#basic-background {
  padding-top: 100px;
}
