#tsparticles {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 0;
}

#basic-logo {
  width: 300px;
  margin-left: 20px;
  height: auto;
}

#basic-background {
  align-content: center;
  padding-top: 100px;
}
